<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="shortcut icon" href="/img/logo2 Photoroom.png" type="image/x-icon">
    <title>CODE-SALUD</title>
</head>
<body>
    <header class="bar">
        <div class="bar-logo">
            <img src="/img/logo2 Photoroom.png" alt="logo" >
            <h1>CODE-SALUD</h1>
        </div>
        <div class="bar-menu">
            <nav class="nav-menu">
                <button id="actualizar-button">Actualizar Datos Personales</button>
                <button id="familia-button">Ver Datos Familiares</button>
                <button id="pago-button">Realizar Pago</button>
                <button id="reporte-button">Reporte</button>
            </nav>
        </div>
    </header>
    <div id="personal-container" style="display: block;">
        <h1>Datos</h1>
    </div>
    <div id="actualizar-datos-personales" style="display: none;">
        <h1>Actualizar Datos Personales</h1>
        <form id="personal-form">
            <select name="campo" id="campo-personal">
                <option value="nombre1">Primer Nombre</option>
                <option value="nombre2">Segundo Nombre</option>
                <option value="apellido1">Primer Apellido</option>
                <option value="apellido2">Segundo Apellido</option>
                <option value="correo">Correo Electrónico</option>
                <option value="telefono">Teléfono</option>
                <option value="direccion">Direccion</option>
                <option value="fecha_nacimiento">Fecha de Nacimiento</option>
            </select>
            <button type="button" id="update-personal-button">Actualizar</button>

        </form>
    </div>
    <div id="ver-familiares" style="display: none;">
        <div id="family-members"></div>
    </div>
    <div id="pagos-container" style="display: none;">
        <div id="pago-pendiente-info"></div>
        <form id="payment-form">
            <div id="plan-info"></div>
            <select name="payment-type" id="payment-type">
                <option value="credit-card">Tarjeta de Crédito</option>
                <option value="debit-card">Tarjeta de Débito</option>
                <option value="paypal">PayPal</option>
            </select>
            <input type="number" name="cardNumber" placeholder="Número de Tarjeta" min="0" minlength="13" maxlength="19" required>
            <button id="submit-payment" type="button">Pagar</button>
        </form>
    </div>
    <div id="reporte" style="display: none;">
        <h1>Historial</h1>
    </div>

    <footer class="footer-copy">
        <p>&copy; 2025 CODE-SALUD. Todos los derechos reservados, RIF J-3082850-7.</p>
    </footer>
    <script src="/js/indexPersonal.js"></script>
    <script type="module" src="/js/indexFamiliar.js"></script>
    <script src="/js/indexReporte.js"></script>
    <script src="/js/indexPago.js"></script>
</body>
</html>