<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/img/logo2 Photoroom.png" type="image/x-icon">
    <title>CODE-SALUD</title>
</head>
<body>
    <header class="bar">
        <div class="bar-logo">
            <img src="/img/logo2 Photoroom.png" alt="logo" style="width: 80px;">
            <h1>CODE-SALUD</h1>
        </div>
        <div class="bar-menu">
            <nav class="nav-menu">
                <button>Actualizar Datos Personales</button>
                <button>Ver Datos Familiares</button>
                <button>Servicios Adicionales</button>
                <button>Historial</button>
            </nav>
        </div>
    </header>
    <div class="personal-container" style="display: block;">
        <h1>Datos</h1>
    </div>
    <div class="actualizar-datos-personales" style="display: none;">
        <h1>Actualizar Datos Personales</h1>
    </div>
    <div class="ver-familiares" style="display: none;">
        <h1>Ver Datos Familiares</h1>
    </div>
    <div class="add-services" style="display: none;">
        <h1>Servicios Adicionales</h1>
    </div>
    <div class="historial" style="display: none;">
        <h1>Historial</h1>
    </div>
</body>
</html>