<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>
    <link rel="shortcut icon" href="/img/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/login.css">
</head>
<body class="login-bg">
    <div class="login-container">
        <div class="logo-title">
            <img src="/img/logo.png" alt="logo">
            <h1>
                <span style="color: #5DB640;">CODE</span>
                <span>-</span>
                <span style="color: #195ba7;">SALUD</span>
            </h1>
        </div>
        <form id="loginForm">
            <input type="text" name="id_usuario" placeholder="Número de Cédula" required>
            <input type="password" name="password" placeholder="Contraseña" required>
            <div class="options">
                <label>
                    <input type="checkbox" id="mostrarContrasena"> Mostrar contraseña
                </label>
            </div>
            <button type="submit">Iniciar sesión</button>
        </form>
        <h2 class="cuenta">¿No estás asociado aún?</h2>
        <a href="/register">Registrate aqui</a>
    </div>

    <footer class="footer-copy">
        <p>&copy; 2025 CODE-SALUD. Todos los derechos reservados, RIF J-3082850-7.</p>
    </footer>

    <script src="/js/login.js"></script>
</body>
</html>