<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/img/logo2 Photoroom.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/register.css">
    <title>Registro</title>
</head>
<body class="register-bg">
    <section id="form-container">
        <div class="logo-title">
            <img src="/img/logo2 Photoroom.png" alt="logo">
            <h1>
                <span style="color: #5DB640;">CODE</span>
                <span>-</span>
                <span style="color: #195ba7;">SALUD</span>
            </h1>
        </div>
        <div id="personal-data-container">
            <h2>Datos Básicos</h2>
            <form id="personal-data-form" class="was-validated">
                <input type="number" name="id_usuario" placeholder="Numero de Cedula" min="0" required>
                <input type="text" name="nombre1" placeholder="Primer Nombre" required>
                <input type="text" name="nombre2" placeholder="Segundo Nombre">
                <input type="text" name="apellido1" placeholder="Primer Apellido" required>
                <input type="text" name="apellido2" placeholder="Segundo Apellido">
                <input type="email" name="correo" placeholder="Correo" required>
                <input type="number" name="telefono" placeholder="Teléfono" min="0">
                <input type="password" name="password" placeholder="Contraseña" required>
                <input type="password" name="password2" placeholder="Repetir Contraseña" required>
                <input type="text" name="pais" placeholder="País" required>
                <input type="text" name="estado" placeholder="Estado" required>
                <input type="text" name="ciudad" placeholder="Ciudad" required>
                <input type="date" name="fecha_nacimiento" placeholder="Fecha de Nacimiento" required>
                <select name="ocupacion" id="ocupacion-select">
                    <option value="Estudiante">Estudiante</option>
                    <option value="Empleado público">Empleado público</option>
                    <option value="Empleado privado">Empleado privado</option>
                    <option value="Independiente">Independiente</option>
                    <option value="Desempleado">Desempleado</option>
                    <option value="Jubilado">Jubilado</option>

                </select>
                <button id="submit-personal-data" type="button">Registrar</button>
            </form>
        </div>
        <div id="plan-selection" style="display: none;">
            <h2>Seleccione un plan</h2>
            <div id="planes-container"></div>
            <input type="hidden" id="plan_id" name="plan_id" required>
            <button id="select-plan" type="button">Seleccionar Plan</button>
        </div>
        <div id="payment-container" style="display:none;">
            <form id="payment-form">
                <div id="plan-info"></div>
                <select name="payment-type" id="payment-type">
                    <option value="credit-card">Tarjeta de Crédito</option>
                    <option value="debit-card">Tarjeta de Débito</option>
                    <option value="paypal">PayPal</option>
                </select>
                <input type="number" name="cardNumber" placeholder="Número de Tarjeta" min="0" minlength="13" maxlength="19" required>

                <button id="submit-payment" type="button">Pagar</button>
            </form>
        </div>
        <div id="add-family-container" style="display:none;">
            <form id="add-family-form">
                <input type="text" name="nombre1" placeholder="Primer Nombre" required>
                <input type="text" name="nombre2" placeholder="Segundo Nombre">
                <input type="text" name="apellido1" placeholder="Primer Apellido" required>
                <input type="text" name="apellido2" placeholder="Segundo Apellido">
                <input type="email" name="correo" placeholder="Correo" required>
                <input type="text" name="telefono" placeholder="Teléfono">
                <input type="text" name="pais" placeholder="País" required>
                <input type="text" name="estado" placeholder="Estado" required>
                <input type="text" name="ciudad" placeholder="Ciudad" required>
                <select name="relationship" id="relationship">
                    <option value="Madre">Madre</option>
                    <option value="Padre">Padre</option>
                    <option value="Hijo">Hijo</option>
                    <option value="Hija">Hija</option>
                    <option value="Hermano">Hermano</option>
                    <option value="Hermana">Hermana</option>
                    <option value="Abuelo">Abuelo</option>
                    <option value="Abuela">Abuela</option>
                    <option value="Tio">Tio</option>
                    <option value="Tia">Tia</option>
                    <option value="Primo">Primo</option>
                    <option value="Prima">Prima</option>
                </select>
                <button id="submit-family-member" type="button">Agregar Familiar</button>
            </form>
        </div>
    </section>
    <script src="/js/register.js"></script>
</body>
</html>